#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
		<div class="container bs-docs-container" style="width:100%;">
			<div class="row">
				<form role="form" class="form-inline" action="$!{basePath}/p3/cms/cmsSite.do?list" method="post"  id="formSubmit">
					<div class="col-md-10" style="width:100%">
						<div class="panel panel-default">
							<div class="panel-heading">站点配置</div>
							<div class="panel-body">
								<div class="search"></div>
								<div id="legend">
								</div>
								<table class="table table-striped">
									<thead>
                                        <th>站点名称</th>
                                        <th>站点Logo</th>
                                        <th>公司电话</th>
                                        <th>站点模板</th>
                                        <th>操作</th>
									</thead>
									<tbody>
									#if($!{pageInfos})
										#foreach($!{info} in $!{pageInfos})
										<tr>			
                                            <td>$!{info.siteName}</td>
                                            <td>
												#if ($info.siteLogo)
													<img src="$!{basePath}/upload/img/cms/$!{info.siteLogo}" width="50px" height="50px"/>
												#end
											</td>
                                            <td>$!{info.companyTel}</td>
                                            <td>$!{info.siteTemplateStyle}</td>
                                            <td class="last">
												<a href="javascript:doUrl('$!{basePath}/p3/cms/cmsSite.do?toEdit&id=$!{info.id}')" >编辑</a>
												<a href="javascript:delData('$!{basePath}/p3/cms/cmsSite.do?doDelete&id=$!{info.id}')">删除</a>
												<a href="$!{basePath}/p3/cms/cmsController.do?goPage&page=index" target="_blank">网站演示</a>
											</td>
										</tr>
										#end
									#end
									</tbody>
								</table>
								<div class="text-right">
									<!--公用翻页代码-->
									#set($attr='formSubmit')
									#showPageList($pageInfos $attr)
									<!--END公用翻页代码-->
								</div>
							</div>	
						</div>
					</div>
				</form>
			</div>
		</div>
</body>
</html>